@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.pngn-bg {
    background-color: #FFFBF0;
}

header nav {
    min-height: 80px;
}

.header-banner {
    height: 100vh;
}

.pngn-text-yellow {
    color: #FABE4C;
}

.pngn-text-dark-blue {
    color: #363958;
}

.pngn-bg-light-green {
    background-color: #A4BC46;
}

.pngn-f-bebas {
    font-family: 'Bebas Neue', cursive;
}

.pngn-b-radius {
    border-radius: 12px;
}

.product-bg {
    background-color: #F1F1F1;
}